# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Instance folder (contains configuration, database files, etc.)
instance/

# Test-related files
.pytest_cache/
.coverage/
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env